header.main {
	.site-image, .site-title, .col {
		width: 100% !important;
		max-width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		flex: auto;
	}
}
nav {
	ul.navigation {

	}
}
nav.fixed {
	height: unset;
	h1 {
		font-size: $md-font-size;
		line-height: $md-line-height;
	}
	ul li a {
		font-size: $sm-font-size;
		line-height: $sm-line-height;
	}
}
nav.side {
	ul.navigation {
		flex-direction: row;
	}
}
#content {
	.col {
		width: 100% !important;
		max-width: 100% !important;
		padding: 0;
		flex: auto;
	}
}
.blocks {
	.item-showcase {
		margin: 0;
		.col-12 {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}
.resource-list {
	.col-12 {
		// padding-left: 0;
		// padding-right: 0;
	}
}