.max-width {
	padding-left: $spacing-m;
	padding-right: $spacing-m;
}
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.item-showcase {
	.row {
		// margin-left: -15px !important;
		// margin-right: -15px !important;
	}
}

header.main {
	margin: 0 0 $spacing-l 0;
	padding-bottom: $spacing-m !important;
	border-bottom: 1px solid $dark;
}

nav.fixed {
	h1 {
		font-size: $md-font-size;
		line-height: $md-line-height;
	}
	ul li a {
		font-size: $sm-font-size;
		line-height: $sm-line-height;
	}
	body.fix-nav & {
		height: unset;
	}
}

nav.side {
	position: static !important;
	left: unset !important;
	top: unset !important;
	padding: 0 !important;
	body.fix-nav & {

	}
}

